<div class="nestedDemo row">
    <!-- Markup for lists inside the dropzone. It's inside a seperate template
     because it will be used recursively. The dnd-list directive enables
     to drop elements into the referenced array. The dnd-draggable directive
     makes an element draggable and will transfer the object that was
     assigned to it. If an element was dragged away, you have to remove
     it from the original list yourself using the dnd-moved attribute -->
    <script type="text/ng-template" id="list.html">
        <ul dnd-list="list">
            <li ng-repeat="item in list" ng-include="item.type + '.html'">
            </li>
        </ul>
    </script>

    <!-- This template is responsible for rendering a container element. It uses
     the above list template to render each container column -->
    <script type="text/ng-template" id="container.html">
        <div class="container-element box box-blue">
            <h3 ng-hide="item.id == ''">{{item.fields[0].value}}</h3>
            <div class="column{{item.columns.length}}" ng-repeat="list in item.columns" ng-include="'list.html'"></div>
            <div class="clearfix"></div>
        </div>
    </script>

	<!-- Template for a normal list item -->
	<script type="text/ng-template" id="label.html">
        <div class="item"><font size="{{item.fields[1].value}}">{{item.fields[0].value}}</font></div>
    </script>
	
	<script type="text/ng-template" id="img.html">
		<a href="{{item.fields[3].value}}">
			<img src="{{item.fields[0].value}}" height="{{item.fields[1].value}}" width="{{item.fields[2].value}}">
		</a>
    </script>

    <div class="col s12">
        <div class="row">
            <div ng-repeat="(zone, list) in models.dropzones" class="col s12">
                <div>
                    <div ng-include="'list.html'"></div>
                </div>
            </div>
        </div>
    </div>
</div>